<form id="interkassa_payment_new" action="{{ path('interkassa_payment_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'stfalcon.payment.create' | trans }}}" />
</form>
